websocket-client
git+https://github.com/dpallot/simple-websocket-server.git
curve25519-donna
pycryptodome
pyqrcode
protobuf
13/7/18 16:09 - Los mensajes y las llamadas están cifrados de extremo a extremo. Nadie fuera de este chat, ni siquiera WhatsApp, puede leerlos ni escucharlos. Toca para obtener más información.
13/7/18 16:09 - Beatriz: Jose.
Está mañana hablé con Fran y Angel y han decidido que quedareis un finde menos complicado.
Gracias😘
13/7/18 16:49 - Miralles: ‎PTT-20180713-WA0008.opus (archivo adjunto)
13/7/18 16:49 - Miralles: ‎PTT-20180713-WA0009.opus (archivo adjunto)
13/7/18 17:35 - Miralles: Llego en 5 minutos
13/7/18 17:36 - Beatriz: Ok
13/7/18 21:39 - Beatriz: Hola Jose!
Y mi pollo? Se esta portando guay?
13/7/18 21:39 - Miralles: Ja ja ja
13/7/18 21:39 - Miralles: De maravilla
13/7/18 21:39 - Miralles: Ahora están cenando
13/7/18 21:39 - Beatriz: Es bueno...un trastete, pero muy noble
13/7/18 21:40 - Beatriz: Estará feliz!
13/7/18 21:40 - Miralles: Es un amor de niño
13/7/18 21:40 - Miralles: Están los 2 encantados
13/7/18 21:40 - Beatriz: Tiene el carácter de Fran...a diferencia de Noe que lo tiene cacao a mi💁🏼‍♀
13/7/18 21:40 - Beatriz: Me alegro mucho
13/7/18 21:40 - Miralles: Ja ja ja
13/7/18 21:41 - Beatriz: Que no se le olvide hacer pis antes de acostarse, que con los nervios....es capaz de olvidarse de hacerlo!!!
13/7/18 21:41 - Miralles: Vale
13/7/18 21:42 - Miralles: Lo tengo en cuenta
13/7/18 21:55 - Beatriz: Gracias!
13/7/18 21:55 - Miralles: De res!!
14/7/18 9:13 - Miralles: Buenos días!!
14/7/18 9:13 - Miralles: Ángel despierto desde las 7:30h
14/7/18 9:13 - Miralles: Ja ja ja
14/7/18 9:13 - Miralles: Es un amor
14/7/18 9:14 - Beatriz: Bon dia
14/7/18 9:14 - Beatriz: Jajajaja
14/7/18 9:14 - Beatriz: Son molt matinaores
14/7/18 9:14 - Beatriz: Noe desde las 8
14/7/18 9:15 - Beatriz: Pues....cuando quieras!
14/7/18 9:15 - Miralles: 😱
14/7/18 9:15 - Miralles: En un rato te lo llevo
14/7/18 9:15 - Beatriz: Ok
14/7/18 9:15 - Miralles: Te aviso cuando salga
14/7/18 9:15 - Beatriz: Vale
14/7/18 10:06 - Miralles: De camino
14/7/18 10:06 - Miralles: Tardamos 15minutos
14/7/18 10:09 - Beatriz: Ok
24/8/21 18:39 - Miralles: Hola Bea, soy Miralles. Me lo ha dicho Fran. Lo siento mucho. Un beso
24/8/21 19:14 - Beatriz: 💔😔😘
31/12/21 17:53 - Beatriz: ❤️
31/12/21 18:16 - Miralles: ‎STK-20211231-WA0050.webp (archivo adjunto)
