*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#fff 40%, #ddd);
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

#bootstrap-container {
  height: 350px;
  text-align: center;
}
#bootstrap-container img {
  padding-top: 1.5vh;
}

#main-container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
#main-container > #main-container-heading {
  position: absolute;
  top: 0%;
  left: 1.5%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
#main-container > #main-container-heading > h1 {
  position: relative;
  top: 1.5vh;
  font-weight: 100;
  font-size: 8vh;
  text-transform: uppercase;
  padding-bottom: -10px;
  margin-right: 3vh;
}
#main-container > #main-container-content {
  position: absolute;
  top: 15%;
  left: 1.5%;
  width: 97%;
  height: 85%;
}
#main-container > #main-container-content > #messages-list-table {
  border-collapse: collapse;
}
#main-container > #main-container-content > #messages-list-table th, #main-container > #main-container-content > #messages-list-table td {
  vertical-align: middle;
}
#main-container > #main-container-content > #messages-list-table td:not(.no-monospace) {
  font-family: monospace;
}
#main-container > #main-container-content > #messages-list-table th:not(.fill), #main-container > #main-container-content > #messages-list-table td:not(.fill) {
  width: 1px;
  white-space: nowrap;
  padding: 0px 25px;
  text-align: center;
}

.bootbox.modal {
  line-height: 0.8;
}
.bootbox.modal ul {
  list-style-type: none;
}
.bootbox.modal li {
  line-height: 1.5;
}
.bootbox.modal .jsontree_tree {
  margin-left: 0;
  padding-left: 0;
}
.bootbox.modal .jsontree_child-nodes {
  margin-left: 0;
}
.bootbox.modal .modal-dialog {
  width: 100vw;
}
.bootbox.modal .modal-dialog .modal-content {
  width: 90vw;
  left: 5vw;
}

#console-arrow {
  position: absolute;
  top: 2.5vh;
  right: 0vw;
  transition: right 0.2s;
}
#console-arrow > button {
  font-size: 2.5vh;
  background: #000;
    color: #fff;
}
#console-arrow.extended {
  right: 30vw;
}

#console {
  position: absolute;
  top: 0vh;
  left: 100vw;
  width: 30vw;
  height: 100vh;
  padding: 3vh;
  transition: left 0.2s;
  font-size: 10pt;
  font-family: monospace;
  background-color: rgba(200, 200, 200, 0.5);
}
#console.extended {
  left: 70vw;
}

.statuses {
  width: 98%;
  background-color: #1e262b;
  color: aliceblue;
  padding: 1%;
  height: 98%;
  display: flow-root;
  overflow: scroll;
  position: relative;
}

.user-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: flex-start;
}

.user-item:hover {
  background-color: #2c353a;
}

.user-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: space-between;
}

.user-details span:nth-child(2) {
  font-size: small;
  color: gray;
  padding: 2px;
}

.users-list {
  position: absolute;
}

.user-image {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  padding: 2px;
  margin: 5px;
  background-color: azure;
}

.full-view {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #193636;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 400px;
  max-height: 800px;
  margin: 0 auto;
}

.close {
  padding: 8px 13px;
  background: #000000b0;
  border-radius: 15px;
  width: fit-content;
  margin: 5px;
  position: absolute;
  top: 3%;
  color: #fff;
  opacity: 1;
}

.next {
  background: #00000000;
  border-radius: 5px;
  position: absolute;
  top: 15%;
  right: 0;
  height: 85%;
  width: 20%;
}

.pervious {
  background: #00000000;
  border-radius: 5px;
  position: absolute;
  top: 15%;
  left: 0;
  height: 85%;
  width: 20%;
}

video {
  width: 100%;
  height: 100%;
}

.text-media {
  display: flex;
  height: 100%;
  align-content: space-between;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;
  padding: 15px;
}

.status-dots {
  height: 10px;
  background: #00000000;
  width: 94%;
  margin: 1% 3%;
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.dots {
  height: 50%;
  background: aliceblue;
  width: 10%;
  margin: 0% 1%;
  border-radius: 10px;
}

.dots.active {
  background: black;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #298313d9;
  border-right: 10px solid #b9c502d1;
  border-bottom: 10px solid #4bc92b;
  border-left: 10px solid #00ff4396;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  right: 45%;
  top: 45%;
}

@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}